:root{
	--bg-color-light: #a8a5a5;
	--text-color-light: rgb(255, 255, 255);
	--bg-agent-icon-light: rgb(133, 133, 133);

	--bg-color-dark: #0F1823;
	--text-color-dark: white;
	--bg-agent-icon-dark: #ffffff;
}

.theme-light{
 	background-color: var(--bg-color-light);
	color: var(--text-color-light);

	a{
		color: var(--text-color-light);
	}

	div[theme="dropdown"]{
		background-color: var(--bg-color-light);
		border: 1px solid var(--bg-color-dark);
	}

	.bg-icon[theme="bg-icon"]{
		background: var(--bg-agent-icon-light);
	}
}

.theme-dark{
	background-color: var(--bg-color-dark);
	color: var(--text-color-dark);

	a{
		color: var(--text-color-dark);
	}

	div[theme="dropdown"] {
		background-color: var(--bg-color-dark);
		border: 1px solid var(--bg-color-light);
	}

	.bg-icon[theme="bg-icon"] {
		background: var(--bg-agent-icon-dark);
	}
}	